.heap {
  padding: 16px;
  position: relative;

  .buttons {
    display: flex;
    justify-content: right;
    position: relative;
    right: 0;
  }

  .view {
    position: relative;

    ::ng-deep .array {
      flex-direction: column;
    }

    &.both .logical {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      border: 5px solid;
      border-image-source: linear-gradient(
        to right,
        #4d9bff,
        #3b7eff,
        #285bff
      );
      border-image-slice: 1;
      background-color: rgba(230, 238, 255, 0.8);
    }
  }
}
