<div class="container">
    <header>
      <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
      </div>
      <div class="header-content">
        <h1>代码可视化</h1>
        <p>可视化查看Python代码执行的每一步</p>
      </div>
    </header>
    <main>
      <div class="content">
        <div class="text-section">
          <p>该功能是基于PythonTutor开发而来，在这里您可以通过输入代码或代码URL的方式来查看Python代码中间执行过程的每一步，同时为了方便他人
            指导，我们还加入了在线视频通话和屏幕共享的功能，希望您收获一个美好的体验！
          </p>
          <button class="download-button" (click)="goto()">前往体验</button>
        </div>
        <div class="image-section">
          <img src="../../../assets/page2.png" alt="App Preview">
        </div>
      </div>
    </main>
</div>  