<div class="container">
    <header>
      <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
      </div>
      <div class="header-content">
        <h1>新手入门</h1>
        <p>带您入门基础数据结构和几种简单的算法</p>
      </div>
    </header>
    <main>
      <div class="content">
        <div class="text-section">
          <p>在这里您将通过拖动的方式生成数组、栈、队列、链表、哈希表、图等基本数据结构，并且可以自定义数据结构中的数据，在这个过程您可以了解
            不同数据结构的特性，同时我们提供了一些简单的算法以供您更好的学习实践！
          </p>
          <button class="download-button" (click)="goto()">前往学习</button>
        </div>
        <div class="image-section">
          <img src="../../../assets/page1.png" alt="App Preview">
        </div>
      </div>
    </main>
</div>  